doctype html
html(lang="en")
	head
		title Zilio.XYZ
		link(rel="stylesheet" href="/style.css")
		//script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="/AppTable.js")
	body
		h1 Zilio Net
		p The status column is sketch to say the least, I'm working on it.
	table(id='AppTable' align='center')